hr.separator {
    border-top: 1px dashed #dcdfe0;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

label {
    margin-bottom: 0;
}

.form-control-plaintext {
    font-size: 10pt;
    color: $color-gray;
}